<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            box-sizing: border-box;
        }
        body{
            height: 1500px;
            display: grid;
            grid-template-areas:
                    "header"
                     "main"
                     "main"
                     "main"
                    "footer";
        }
        main{
            grid-area: main;
            background-color: aqua;
            display: grid;
            grid-template-rows: repeat(5,20%);
            grid-template-columns: repeat(4,25%);
        }
        footer{
            grid-area:footer;
            background-color: gray;
        }
        header{
            grid-area: header ;
            background-color: gray;
        }
        #loginArea{
            border: 1px solid black;
            grid-area:2/2/5/4;
        }
        input{
            margin-left: 25%;
        }

    </style>
</head>
<body>
<header></header>
<main>
    <form id="loginArea" method="post" action="http://localhost:2506/users/ADD" >
        <input type="text" name="fullName" placeholder="fullName"><br>
        <input type="text" name="userName" placeholder="userName"><br>
        <input type="password" name="pass" placeholder="password"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="submit">
    </form>

</main>
<footer></footer>
</body>
</html>
